* {
    margin: 0;
    padding: 0;
    font-family: serif;
}


/* .outerdiv{
    border:2px solid black;
     
     
} */

.navbar {
    /* border:2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(82, 121, 156);
}

.heading {
    /* border:2px solid black; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    /* border:2px solid black; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    /* border:2px solid black; */
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons img {
    width: 10%;
    height: 20%
}

.carousel-slide {
    /* border:2px solid black;  */
    width: 80vw;
    height: 75vh;
    margin-left: 10%;
    display: flex;
    overflow: auto;
    margin-top: 3%;
}

.carousel-slide img {
    object-fit: cover;
}

.cardsdiv {
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 7%;
    margin: 7%;
}

.card mb-3 {
    width: 100%;
    height: 100%;
}

.card1 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 1/4;
    grid-column: 1/2;
}

.card2 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 1/4;
    grid-column: 2/3;
}

.card3 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
}

.card4 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
}

.card5 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 1/2;
    grid-column: 3/4;
}

.card6 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4;
}

.card7 {
    /* border:1px solid black; */
    display: grid;
    grid-row: 3/4;
    grid-column: 3/4;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: whitesmoke;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
}

a {
    display: none;
}

.sidebar img {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0px;
    top: 0;
}

@media screen and (max-width:800px) {
    * {
        margin: 0;
        padding: 0;
        font-family: serif;
    }
    .navbar {
        /* border:2px solid black; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(82, 121, 156);
    }
    .heading {
        /* border:2px solid black; */
        width: 10%;
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }
    .name {
        /* border:2px solid black; */
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }
    .icons {
        /* border:2px solid black; */
        width: 40%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        justify-items: flex-end;
        align-items: right;
        margin-left: 10%;
    }
    .icons img {
        width: 30px;
        height: 30px;
    }
    a {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: right;
    }
    .carousel-slide {
        /* border:2px solid black;  */
        width: 80vw;
        height: 60vh;
        padding-bottom: 0px;
        margin-left: 10%;
        display: flex;
        overflow: auto;
        margin-top: 3%;
    }
    .carousel-slide img {
        object-fit: fill;
        height: 60vh;
    }
    .cardsdiv {
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 7%;
        margin: 10%;
        overflow-y: scroll;
    }
    .card mb-3 {
        width: 100%;
        height: 100%;
    }
    .card {
        width: 40rem;
    }
    .card1 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 0px;
        width: 80vw;
        height: 100vh;
    }
    .card img {
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    .card2 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: -40%;
        width: 80vw;
        height: 100vh;
    }
    .card3 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: -40%;
        width: 100vw;
    }
    .card4 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 4/5;
        margin-top: -40%;
        width: 80vw;
    }
    .card5 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 5/6;
        margin-top: -40%;
        width: 80vw;
    }
    .card6 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 6/7;
        margin-top: -40%;
        width: 80vw;
    }
    .card7 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 7/8;
        margin-top: -40%;
        width: 80vw;
    }
}

@media screen and (max-width:400px) {
    /* *{
        margin:0;
        padding:0;
        font-family: serif;
    } */
    .navbar {
        /* border:2px solid black; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(82, 121, 156);
    }
    .heading {
        /* border:2px solid black; */
        width: 10%;
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }
    .heading h2 {
        font-size: x-large;
    }
    .name {
        /* border:2px solid black; */
        /* width:30%;
        display:flex;
        justify-content: space-around;
        align-items: center; */
        display: none;
    }
    .icons {
        /* border:2px solid black; */
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 100px;
    }
    .icons img {
        width: 30px;
        height: 30px;
    }
    .carousel-slide {
        /* border:2px solid black;  */
        width: 80vw;
        height: 60vh;
        padding-bottom: 0px;
        margin-left: 10%;
        display: flex;
        overflow: auto;
        margin-top: 3%;
    }
    .carousel-slide img {
        object-fit: fill;
        height: 60vh;
    }
    .cardsdiv {
        /* border:1px solid red; */
        display: inline-flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 50%;
    }
    .card mb-3 {
        width: 100%;
        height: 50%;
    }
    .card {
        width: 18rem;
    }
    .card1 {
        /* border:1px solid yellow; */
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 0px;
        width: 100%;
        height: 150vh;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .card img {
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    .card2 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        bottom: 60%;
        width: 80vw;
        height: 50vh;
    }
    .card3 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        position: relative;
        bottom: 180%;
        width: 75%;
        height: 50vh;
    }
    .card4 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 4/5;
        position: relative;
        bottom: 300%;
        width: 80vw;
        height: 50vh;
    }
    .card5 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 5/6;
        position: relative;
        bottom: 420%;
        width: 80vw;
        height: 50vh;
    }
    .card6 {
        /* border:1px solid black; */
        display: grid;
        grid-column: 1/2;
        grid-row: 6/7;
        position: relative;
        bottom: 535%;
        width: 80vw;
        height: 50vh;
    }
    .card7 {
        /* border:10px solid blueviolet; */
        display: grid;
        grid-column: 1/2;
        grid-row: 7/8;
        position: relative;
        bottom: 650%;
        width: 80vw;
        height: 50vh;}
}
